@cahrset "UTF-8";

body {
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
h1 {
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    color: rgb(67, 129, 5);
    font-family: 'Times New Roman', Times, serif;
}