@charset "utf-8";
* {
    font-family: monospace;
    font-size: 16px;
    }
    
  div {
    text-align: center;

  }
    body {
        background-color: #131f38;
    }

    main {
        color: white;
        margin: auto;
        text-align: justify;
        width: 1200px;
        padding: 10px;       
    }

    h1, h2 {
        font-size: 3em;
        text-align: center;
    }
    a {
      color: #00ffdd;
      text-decoration: none;
      margin: auto;      
    }
    a:hover {
      background-color: black;
      color: white;
      border-radius: 10%;
    }
