@charset "utf-8";

body {
    background-image:  url(https://gustavoguanabara.github.io/html-css/imagens/mascote.png);
    background-size: 800px 800px;
    background-color: black;
    background-repeat: no-repeat;
    background-position: top;
}

h1 {
    color: rgb(112, 131, 243);
}