@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --fonte-padrao: 'Nunito', sans-serif;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: 38px;
}

body {
 font-family: var(--fonte-padrao);
 font-size: 26px;
}

div {
    background-color: rgba(0, 0, 0, 0.295);
    color: white;
    height: auto;
    max-width: 350px;
    margin: 20px;
        
}

.dentro {
    background-color: black;
    padding: 15px;
    border: 0px;
}
#q1 {
     background: black url(../imagens/background001.jpg) left center no-repeat fixed;
    background-size: cover;
    padding: 20px;

    
}

#q2 {
    background: black url(../imagens/background002.jpg) left center no-repeat fixed;
   background-size: cover;
   padding: 20px;
}